[FORMAT]
max-line-length=120

[MASTER]
ignore=migrations
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    E0402, # relative import 