asgiref==3.9.1
astroid==3.3.11
colorama==0.4.6
dill==0.4.0
Django==5.2.6
isort==6.0.1
mccabe==0.7.0
platformdirs==4.4.0
pylint==3.3.8
python-dotenv==1.1.1
sqlparse==0.5.3
tomlkit==0.13.3
tzdata==2025.2
